<div class="bg-white w-full h-auto flex flex-row justify-center">
  <div class="w-full bg-white grid grid-cols-12">
    <div
      class="flex flex-col justify-around col-start-2 col-end-12"
    >
      <form
        [formGroup]="reservationForm"
        (ngSubmit)="onSubmit($event)"
        method="post"
        name="reservationForm"
        id="formId"
      >
        <div class="flex flex-col justify-center">
              <!-- upper side side of form  -->

              <!-- Departure Site -->
              <!-- <div class="my-0 absolute h-10 bg-custGray "> -->
                <h2 class="text-custGreen1">DEPARTURE</h2>
              <!-- </div> -->
              <div class="my-2 h-full text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address">Departure Site</label>
                <select
                  id="departureSite"
                  formControlName="departureSite"
                  name="departureSite"
                  class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"

                >
                <option [ngValue]="" [selected]="true" disabled="disabled">Select depature site</option>
                  <option

                    *ngFor="let departureSite of departureSites"
                    [ngValue]="departureSite"
                  >
                    {{ departureSite }}
                  </option>
                </select>
                <div
                  *ngIf="
                    departureSite?.invalid &&
                    (departureSite?.dirty || departureSite?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="departureSite?.errors?.['required']">
                    Departure Site is required.
                  </div>
                </div>
              </div>


           <!-- Arrival -->
              <div class="my-2 w-full text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address">Meeting Point</label>
                <select
                  id="departureMeetingPoint"
                  formControlName="departureMeetingPoint"
                  name="departureMeetingPoint"
                  class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                >
                <option [ngValue]="" [selected]="true">Select meeting point</option>

                  <option
                    *ngFor="let departureMeetingPoint of departureMeetingPoints"
                    [ngValue]="departureMeetingPoint"
                  >
                    {{ departureMeetingPoint }}
                  </option>
                </select>
                <div
                  *ngIf="
                    departureMeetingPoint?.invalid &&
                    (departureMeetingPoint?.dirty || departureMeetingPoint?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="departureMeetingPoint?.errors?.['required']">
                    Departure Meeting Point required.
                  </div>
                </div>
              </div>

              <!-- Departure Date -->
              <div class="my-2 w-full text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address">Date</label>
                <input class="border h-[50px] w-full px-3 outline-none focus:border focus:border-custGreen1" type="text" placeholder="Enter Date" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="departureDate" name="departureDate"  />
                 <div
                  *ngIf="
                    departureDate?.invalid &&
                    (departureDate?.dirty || departureDate?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="departureDate?.errors?.['required']">
                    Departure Date Point required.
                  </div>
                </div>
              </div>

               <!-- CHECKIN  HOUR-->
               <div class="my-2 w-full text-center rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address">Check in</label>
                <select
                id="departureHour"
                formControlName="departureHour"
                name="departureHour"
                class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
              >
              <option [ngValue]="" [selected]="true">RDV</option>

                <option
                  *ngFor="let departureHour of departureHours"
                  [ngValue]="departureHour"
                >
                  {{ departureHour }}
                </option>
              </select>                          <div
                  *ngIf="
                    departureHour?.invalid &&
                    (departureHour?.dirty || departureHour?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="departureHour?.errors?.['required']">
                   departureHour required.
                  </div>
                </div>
              </div>






                       <!-- Arrival Site -->
                       <h2 class="text-custGreen1">ARRIVAL</h2>
                       <div class="my-2 w-full text-center rounded-sm">
                         <!-- <div class="col-span-2 bg-red-200 "></div> -->
                         <label for="address">Arrival Site</label>
                         <select
                           id="departureSite"
                           formControlName="departureSite"
                           name="departureSite"
                           class="border h-[50px] w-full px-3 outline-none rounded-md text-sm focus:border focus:border-custGreen1 "
                         >
                         <option [ngValue]="" [selected]="true">Select arrival site</option>

                           <option
                             *ngFor="let departureSite of departureSites"
                             [ngValue]="departureSite"
                           >
                             {{ departureSite }}
                           </option>
                         </select>
                         <div
                           *ngIf="
                             departureSite?.invalid &&
                             (departureSite?.dirty || departureSite?.touched)
                           "
                           class="text-red-500 text-sm"
                         >
                           <div *ngIf="departureSite?.errors?.['required']">
                             Arrival Site is required.
                           </div>
                         </div>
                       </div>


                       <div class="my-2 w-full text-center rounded-sm">
                         <!-- <div class="col-span-2 bg-red-200 "></div> -->
                         <label for="address">Meeting Point</label>
                         <select
                           id="arrivalMeetingPoint"
                           formControlName="arrivalMeetingPoint"
                           name="arrivalMeetingPoint"
                           class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                         >
                         <option [ngValue]="" [selected]="true">Select meeting point</option>

                           <option
                             *ngFor="let arrivalMeetingPoint of arrivalMeetingPoints"
                             [ngValue]="arrivalMeetingPoint"
                           >
                             {{ arrivalMeetingPoint }}
                           </option>
                         </select>
                         <div
                           *ngIf="
                             arrivalMeetingPoint?.invalid &&
                             (arrivalMeetingPoint?.dirty || arrivalMeetingPoint?.touched)
                           "
                           class="text-red-500 text-sm"
                         >
                           <div *ngIf="departureMeetingPoint?.errors?.['required']">
                             Departure Meeting Point required.
                           </div>
                         </div>
                       </div>

                       <!-- Arrival Date -->
                       <div class="my-2 w-full text-center rounded-sm">
                         <!-- <div class="col-span-2 bg-red-200 "></div> -->
                         <label for="address">Date</label>
                         <input class="border h-[50px] w-full px-3 outline-none focus:border focus:border-custGreen1" type="text" placeholder="Enter Date" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="arrivalDate" name="arrivalDate"  />
                          <div
                           *ngIf="
                             arrivalDate?.invalid &&
                             (arrivalDate?.dirty || arrivalDate?.touched)
                           "
                           class="text-red-500 text-sm"
                         >
                           <div *ngIf="arrivalDate?.errors?.['required']">
                             Arrival Date Point required.
                           </div>
                         </div>
                       </div>

                       <!-- CHECKOUT  HOUR-->
                       <div class="my-2 w-full text-center rounded-sm">
                         <!-- <div class="col-span-2 bg-red-200 "></div> -->
                         <label for="address">Check out</label>
                         <select
                         id="arrivalHour"
                         formControlName="arrivalHour"
                         name="arrivalHour"
                         class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                       >
                       <option [ngValue]="" [selected]="true">RDV</option>

                         <option
                           *ngFor="let arrivalHour of arrivalHours"
                           [ngValue]="arrivalHour"
                         >
                           {{ arrivalHour }}
                         </option>
                       </select>                          <div
                           *ngIf="
                             arrivalHour?.invalid &&
                             (arrivalHour?.dirty || arrivalHour?.touched)
                           "
                           class="text-red-500 text-sm"
                         >
                           <div *ngIf="arrivalHour?.errors?.['required']">
                            arrivalHour required.
                           </div>
                         </div>
                       </div>




              <button
              type="submit"
              [disabled]="!reservationForm.valid"
              id="submitBtnId"
              class="w-full my-4 {{
                !reservationForm.valid ? 'bg-gray-400' : 'bg-custGreen1'
              }}  shadow-sm rounded-md py-3 text-white text-lg font-semibold"
            >
              PARK NOW
            </button>
        </div>
 


      </form>
    </div>
  </div>

  <!-- <div *ngIf="isAddingOfferResult" class="loading-overlay flex justify-center items-center my-2uto mx-auto">
    <div class="h-1/4">
      <lottie-player  [src]="animationSrc"  background="transparent"  speed="1" loop  autoplay >
      </lottie-player>
    </div>
  </div> -->
</div>
