<div class="bg-white h-auto flex flex-col justify-center shadow-lg border rounded-xl p-8 mx-3">
  <div class="w-full bg-white grid grid-cols-12">
    <div
      class="flex flex-col justify-around col-start-2 col-end-12"
    >
      <form
        [formGroup]="reservationForm"
        (ngSubmit)="onFormSubmit($event)"
        method="post"
        name="reservationForm"
        id="formId"
      >
        <div class="flex flex-col justify-center">
              <!-- upper side side of form  -->

              <!-- Departure Site -->
              <!-- <div class="my-0 absolute h-10 bg-custGray "> -->
                <h2 class="text-custGreen1 text-center font-bold text-xl">DEPARTURE</h2>
              <!-- </div> -->
              <div class="my-2  h-full rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address" class="mx-2 pb-2 font-semibold">SITE</label>
                <select
                  id="departureSite"
                  formControlName="departureSite"
                  name="departureSite"
                  class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                  (change)="onDateOrSiteChange()"
                >
                <!-- <option ngValue="undefined" [selected]="true" disabled="disabled">Select depature site</option> -->
                <option [ngValue]="null" disabled>Select depature site</option>
                <option
                *ngFor="let departureSite of departureSites"
                [ngValue]="departureSite.id"
                >
                {{ departureSite.name }}
              </option>
                </select>
                <div
                  *ngIf="
                    departureSite?.invalid &&
                    (departureSite?.dirty || departureSite?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="departureSite?.errors?.['required']">
                    Departure Site is required.
                  </div>
                </div>
              </div>


           <!-- Arrival -->
              <div *ngIf="showDetailedForm" class="my-2  w-full rounded-sm">
                <!-- <div class="col-span-2 bg-red-200 "></div> -->
                <label for="address" class="mx-2 pb-2 font-semibold">MEETING POINT</label>
                <select
                  id="departureMeetingPoint"
                  formControlName="departureMeetingPoint"
                  name="departureMeetingPoint"
                  class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                >
                <option [ngValue]="null" disabled>Select meeting point</option>
                <option value=1>Terminal 1</option>
                  <option
                    *ngFor="let departureMeetingPoint of departureMeetingPoints"
                    [ngValue]="departureMeetingPoint"
                  >
                    {{ departureMeetingPoint }}
                  </option>
                </select>
                <div
                  *ngIf="
                    departureMeetingPoint?.invalid &&
                    (departureMeetingPoint?.dirty || departureMeetingPoint?.touched)
                  "
                  class="text-red-500 text-sm"
                >
                  <div *ngIf="departureMeetingPoint?.errors?.['required']">
                    Departure Meeting Point required.
                  </div>
                </div>
              </div>

              <div class="flex justify-between">
                  <div class="mr-1 my-2 w-full rounded-sm">
                    <!-- <div class="col-span-2 bg-red-200 "></div> -->
                    <label for="address" class="mx-2 pb-2 font-semibold">DATE</label>
                    <input #selectedDepartDateRef (change)="onDateOrSiteChange()" class="border h-[50px] w-full rounded-md px-3 outline-none focus:border focus:border-custGreen1" [min]="departMinDate"  type="text" placeholder="Enter Date" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="departureDate" name="departureDate"  />
                    <div
                      *ngIf="
                        departureDate?.invalid &&
                        (departureDate?.dirty || departureDate?.touched)
                      "
                      class="text-red-500 text-sm"
                    >
                      <div *ngIf="departureDate?.errors?.['required']">
                        Departure Date Point required.
                      </div>
                    </div>


                  </div>
                  <!-- CHECKIN  HOUR-->
                  <div *ngIf="showDepartHour" class="ml-1 my-2  w-full rounded-sm">
                    <!-- <div class="col-span-2 bg-red-200 "></div> -->
                    <label for="address" class="mx-2 pb-2 font-semibold">CHECK IN</label>
                    <select
                    id="departureHour"
                    formControlName="departureHour"
                    name="departureHour"
                    [ngClass]="!showDepartHour? 'opacity-0' : 'opacity-100'"
                    class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                  >
                  <option [ngValue]="null" disabled>RDV</option>

                    <option
                      *ngFor="let departureHour of departureHours"
                      [ngValue]="departureHour"
                    >
                      {{ departureHour }}
                    </option>
                  </select>
                  <div
                      *ngIf="
                        departureHour?.invalid &&
                        (departureHour?.dirty || departureHour?.touched)
                      "
                      class="text-red-500 text-sm"
                    >
                      <div *ngIf="departureHour?.errors?.['required']">
                      departureHour required.
                      </div>
                    </div>
                  </div>
              </div>

              <!-- Flight number -->
              <div *ngIf="showDetailedForm" class="mr-1 my-2 w-full rounded-sm">
                  <!-- <div class="col-span-2 bg-red-200 "></div> -->
                  <label for="address" class="mx-2 pb-2 font-semibold">Flight Number</label>
                  <input type="text" placeholder="Enter Flight Number" formControlName="departureFlightNumber" name="departureFlightNumber"  class="border h-[50px] w-full rounded-md px-3 outline-none focus:border focus:border-custGreen1" />
              </div>





                       <!-- Arrival Site -->
                       <h2 class="text-custGreen1 text-center my-4 font-bold text-xl">ARRIVAL</h2>
                       <div class="my-2  w-full rounded-sm">
                         <!-- <div class="col-span-2 bg-red-200 "></div> -->
                         <label for="address" class="mx-2 pb-2 font-semibold">SITE</label>
                         <select
                           id="arrivalSite"
                           formControlName="arrivalSite"
                           name="departureSite"
                           class="border h-[50px] w-full px-3 outline-none rounded-md text-sm focus:border focus:border-custGreen1 "
                         >
                          <option [ngValue]="null" disabled>Select arrival site</option>

                           <option
                             *ngFor="let arrivalSite of arrivalSites"
                             [ngValue]="arrivalSite.id"
                           >
                             {{ arrivalSite.name }}
                           </option>
                         </select>
                         <div
                           *ngIf="
                             arrivalSite?.invalid &&
                             (arrivalSite?.dirty || arrivalSite?.touched)
                           "
                           class="text-red-500 text-sm"
                         >
                           <div *ngIf="departureSite?.errors?.['required']">
                             Arrival Site is required.
                           </div>
                         </div>
                       </div>


                       <div *ngIf="showDetailedForm" class="my-2  w-full rounded-sm">
                         <!-- <div class="col-span-2 bg-red-200 "></div> -->
                         <label for="address" class="mx-2 pb-2 font-semibold">MEETING POINT</label>
                         <select
                           id="arrivalMeetingPoint"
                           formControlName="arrivalMeetingPoint"
                           name="arrivalMeetingPoint"
                           class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                         >
                         <option [ngValue]="null" disabled>Select meeting point</option>
                         <option value=1>Terminal 1</option>
                           <option
                             *ngFor="let arrivalMeetingPoint of arrivalMeetingPoints"
                             [ngValue]="arrivalMeetingPoint"
                           >
                             {{ arrivalMeetingPoint }}
                           </option>
                         </select>
                         <div
                           *ngIf="
                             arrivalMeetingPoint?.invalid &&
                             (arrivalMeetingPoint?.dirty || arrivalMeetingPoint?.touched)
                           "
                           class="text-red-500 text-sm"
                         >
                           <div *ngIf="departureMeetingPoint?.errors?.['required']">
                             Departure Meeting Point required.
                           </div>
                         </div>
                       </div>


                       <div class="flex justify-between">
                              <!-- Arrival Date -->
                          <div class="mr-1 my-2  w-full rounded-sm">
                            <!-- <div class="col-span-2 bg-red-200 "></div> -->
                            <label for="address" class="mx-2 pb-2 font-semibold">DATE</label>
                            <input class="border h-[50px] w-full px-3 rounded-md outline-none focus:border focus:border-custGreen1" [min]="selectedDepartDateRef.value"  type="text" placeholder="Enter Date" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="arrivalDate" name="arrivalDate"  />
                              <div
                              *ngIf="
                                arrivalDate?.invalid &&
                                (arrivalDate?.dirty || arrivalDate?.touched)
                              "
                              class="text-red-500 text-sm"
                            >
                              <div *ngIf="arrivalDate?.errors?.['required']">
                                Arrival Date Point required.
                              </div>
                            </div>
                          </div>

                          <!-- CHECKOUT  HOUR-->
                          <div *ngIf="showArriveHour"class="ml-1 my-2  w-full rounded-sm">
                            <!-- <div class="col-span-2 bg-red-200 "></div> -->
                            <label for="address" class="mx-2 pb-2 font-semibold">CHECK OUT</label>
                            <select
                            id="arrivalHour"
                            formControlName="arrivalHour"
                            name="arrivalHour"
                            class="border h-[50px] w-full px-4 outline-none rounded-md text-sm focus:border focus:border-custGreen1"
                          >
                          <option [ngValue]="null" disabled>RDV</option>

                            <option
                              *ngFor="let arrivalHour of arrivalHours"
                              [ngValue]="arrivalHour"
                            >
                              {{ arrivalHour }}
                            </option>
                          </select>                          <div
                              *ngIf="
                                arrivalHour?.invalid &&
                                (arrivalHour?.dirty || arrivalHour?.touched)
                              "
                              class="text-red-500 text-sm"
                            >
                              <div *ngIf="arrivalHour?.errors?.['required']">
                                arrivalHour required.
                              </div>
                            </div>
                          </div>
                       </div>

                  <!-- Flight number -->
                  <div *ngIf="showDetailedForm" class="mr-1 my-2 w-full rounded-sm">
                      <!-- <div class="col-span-2 bg-red-200 "></div> -->
                      <label for="address" class="mx-2 pb-2 font-semibold">Flight Number</label>
                      <input type="text" placeholder="Enter Flight Number" formControlName="arrivalFlightNumber" name="arrivalFlightNumber"  class="border h-[50px] w-full rounded-md px-3 outline-none focus:border focus:border-custGreen1" />
                  </div>







            <!-- !reservationForm.valid ? 'bg-gray-400' : 'bg-custGreen1' -->
            <button
            *ngIf="!showDetailedForm"
            type="submit"
            (click)="scrollToElement(quoteDiv)"
            [disabled]="!reservationForm.valid || showQuote"
            id="submitBtnId"
            class="w-full my-4 {{
                !reservationForm.valid  || showQuote? 'bg-gray-400' : 'bg-green-800/50'
                }}  shadow-sm rounded-md py-3 text-white text-lg font-semibold
                {{showQuote ? 'cursor-not-allowed' :''}}"
            >
              <ng-container *ngIf="isLoading">
                Loading...
              </ng-container>
              <ng-container *ngIf="!isLoading">
                 CONFIRM
              </ng-container>

            </button>
        </div>



      </form>
    </div>
  </div>
</div>

<div #quoteDiv >
  <div *ngIf="showQuote" class="w-full">
    <div [ngClass]="showQuote? 'opacity-100' : 'opacity-0'" class="transition-all ease-in-out duration-1000 delay-100">
        <app-reservation-quote (showDetailedFormEmitter)="onShowDetailedForm($event)"></app-reservation-quote>
    </div>
  </div>
</div>


<ng-container *ngIf="showDetailedForm">
  <div class="py-4 my-4 mx-3">
    <div class="h-12 bg-custGray/30 flex justify-center items-center rounded-t-lg font-semibold">
      Additional Services
    </div>
    <app-form-services></app-form-services>
  </div>
</ng-container>

<ng-container *ngIf="showDetailedForm">
  <div class="py-4 my-4 mx-3 ">
    <div class="h-12 bg-custGray/30 flex justify-center items-center rounded-t-lg font-semibold">
      Your information
    </div>
    <app-form-login></app-form-login>
  </div>
</ng-container>


