
<!-- reservation form + summary  -->
<!-- <div [ngClass]="showForm? 'opacity-100' : 'opacity-0'" class="w-full justify-center bg-white transition-all ease-in-out duration-300 delay-100">
  <div *ngIf="showForm" class="w-full flex justify-center h-fit"> -->
  <!-- form + total -->
  <!-- <div class="w-[1400px] flex justify-center z-0 mt-12 mb-20">
    <div class="w-2/5 h-fit bg-white relative shadow-lg border rounded-xl p-8 mx-3">
      <app-reservation-form></app-reservation-form>
    </div>
    <div class="w-3/12 hidden h-full bg-white shadow-sm rounded-md mx-3 bg-custGray/60">
      <app-reservation-summary></app-reservation-summary>
    </div>
  </div>
</div>
</div> -->

<!-- *ngIf="!showForm" -->
<!-- [ngClass]="!showForm? 'opacity-100' : 'opacity-0'" -->
<!-- FIRST SECTION -->
<div   class="flex justify-center mt-0 w-full h-fit" [ngClass]="!showForm? 'bg-custGray/30':'bg-white'">
<div   class="container mx-auto transition-all ease-in-out duration-300 delay-100">
  <div >
  <div class="flex justify-center items-center">
    <div *ngIf="!showForm" class="w-full h-full flex justify-center items-center">
      <img class="w-full object-contain text-black transition-all ease-in-out duration-700 "  [ngClass]="showTransition? 'h-[650px]' : 'h-[500px]'" src="assets/towingBG.svg" alt="bg">
    </div>
    <!-- <div class="w-1/2 flex justify-center items-center">
        <button (click)="toggleShowForm()" class="h-20 rounded-lg shadow-md px-8 py-4 bg-custGreen3 text-white font-semibold text-lg">FLIGHT PARK NOW</button>
    </div> -->

    <div class="w-[1400px] flex justify-end z-0 mt-12 mb-20">
      <div class="flex flex-col w-4/5 h-fit relative ">
        <app-reservation-form (toggleShowDetailedForm)="showForm = true" (showHourEvent)="showTransition = $event" ></app-reservation-form>
      </div>



      <div [ngClass]="!showForm? 'opacity-0 w-0' : 'opacity-100 w-1/5'" class=" transition-all ease-in-out duration-300 delay-100">
          <div  class="w-full h-full bg-white shadow-sm rounded-md mx-3 bg-custGray/60" [ngClass]="!showForm? 'hidden' : 'flex'">
            <app-reservation-summary></app-reservation-summary>
          </div>
      </div>

    </div>

    <!-- <a href="https://storyset.com/people">People illustrations by Storyset</a> -->
  </div>
  </div>

</div>
</div>

<!-- SECOND SECTION -->
<div *ngIf="!showForm"class="flex justify-center items-center bg-white w-full h-[700px]">
<div  [ngClass]="!showForm? 'opacity-100' : 'opacity-0'" class="container mx-auto relative transition-all ease-in-out duration-300 delay-100">
  <app-our-services></app-our-services>
</div>
</div>


<!-- THIRD SECTION -->
<div *ngIf="!showForm" class="flex justify-center items-center bg-custGray/30 w-full mt-20 h-[1200px]">
<div  [ngClass]="!showForm? 'opacity-100' : 'opacity-0'" class="container mx-auto relative transition-all ease-in-out duration-300 delay-100">
  <app-about></app-about>
</div>
</div>


<!-- THIRD SECTION -->
<div *ngIf="!showForm" class="flex justify-center items-center bg-white w-full h-[900px]">
<div  [ngClass]="!showForm? 'opacity-100' : 'opacity-0'" class="container mx-auto relative transition-all ease-in-out duration-300 delay-100">
 <app-get-in-touch></app-get-in-touch>
</div>
</div>

